# Ignore .json files
chrome-horizon-425218-i3-242c18892f2c.json

# Ignore .terraform directory
.terraform/

# Ignore .tfvars files
*.tfvars

# Ignore .lock.hcl files
*.lock.hcl

# Ignore .tfstate files
*.tfstate
*.tfstate.*
